* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}

/* Slider images here */
.bg-img {
    position: absolute;
    z-index: -9999;
    top: -169px;
    width: 907px;
    right: 0px;
    overflow-y: hidden;
}

/* Font Style H1 Tag */
@media screen and (max-width:1400px) {
    h1 {
        font-size: 73px !important;

    }
}

@media screen and (max-width:1000px) {
    h1 {
        font-size: 50px !important;

    }

}

/* Button Responsive Slider */
/* Adjust button size for even smaller screens */
@media only screen and (max-width: 500px) {
    .pricingbtn {
        font-size: 12px;
        padding: 6px 12px;
        margin: 3px;
    }
}

/* Video Seection Start Here */
.video-container {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.video-border {
    border: solid 1px #4ca6ff;
    border-radius: 30px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.deepak {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

@media only screen and (max-width: 768px) {
    .video-container {
        padding: 0 10px;
    }
}

/* Video Seection End Here */

/* Unlock the potential Sction Start Here */

/* Box Learn More Button Here */

.btnunlock {
    color: white !important;
}

:hover.btnunlock {
    text-decoration: underline;
}

/* Box Learn More Button End Here */

/* Spot Light Section Here */

.spotlight:hover {
    --active: 1;
}

.spotlight:after {
    content: "";
    position: absolute;
    inset: 0;
    background:
        radial-gradient(circle at calc(var(--x) * 1px) calc(var(--y) * 1px), #0068fd, transparent 15vmin);
    background-attachment: fixed;
    opacity: var(--active, 0);
    transition: opacity 0.2s;
    pointer-events: none;

}

/* Spot Light Section End Here */

/* Unlock the potential Sction End Here */

/* Sponser Logo Start Here */
@keyframes slides {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 30px 0px;
    white-space: nowrap;
    position: relative;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    content: '';
    width: 250px;
    height: 100%;
    z-index: 2;
}

.logo_items {
    display: inline-block;
    animation: 40s slides infinite linear;
}

.logo_items img {
    padding-left: 200px;
}

.logos:hover .logo_items {
    animation-play-state: paused;
}

.logo_items img {
    height: 100px;
}

/* Sponser Logo End Here */

/* Footer Section Here */
.social-icon a {
    transition: transform 0.3s ease-in-out;
}

.social-icon a:hover {
    transform: translateY(-5px);
}

/* Footer Section End Here */

/* Up to Down Button Show Start Here */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    cursor: pointer;
    z-index: 1000;
}

.scroll-to-top i {
    font-size: 24px;
    color: #fff;
    background-color: #0068fd;
    padding: 10px;    
}

.scroll-to-top i:hover {
    background-color: #0056b3;
}
/* Up to Down Button Close Here */

/* Side Slider Smooth Start Here */
::-webkit-scrollbar {
    width: 10px;
    background-color:#0068fd;
}

::-webkit-scrollbar-thumb {
    background:black;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background:#0068fd;
}

html {
    scroll-behavior: smooth;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    cursor: pointer;
    z-index: 1000;
}
.scroll-to-top i {
    font-size: 24px;
    color: #fff;
    background-color: #007bff;
    padding: 10px;
    border-radius: 50%;
}

.scroll-to-top i:hover {
    background-color: #0056b3;
}
/* Side Slider Smoth End Here */