* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    

}

/* Slider images here */
.bg-img {
    position: absolute;
    z-index: -9999;
    top: -169px;
    width: 907px;
    right: 0px;
    overflow-y: hidden;
}

/* Font Style H1 Tag */
@media screen and (max-width:1400px) {
    h1 {
        font-size: 73px !important;

    }
}

@media screen and (max-width:1000px) {
    h1 {
        font-size: 50px !important;

    }

}

/* Button Responsive Slider */
/* Adjust button size for even smaller screens */
@media only screen and (max-width: 500px) {
    .pricingbtn {
        font-size: 12px;
        padding: 6px 12px;
        margin: 3px;
    }
}

/* Video Seection Start Here */
.video-container {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.video-border {
    border: solid 1px #4ca6ff;
    border-radius: 30px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.deepak {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

@media only screen and (max-width: 768px) {
    .video-container {
        padding: 0 10px;
    }
}

/* Video Seection End Here */

/* Unlock the potential Sction Start Here */

/* Box Learn More Button Here */

.btn{
    color: white !important;
  }
  :hover.btn{
       text-decoration: underline;
  }
/* Box Learn More Button End Here */

/* Spot Light Section Here */

.spotlight:hover {
    --active: 1;
}

.spotlight:after {
    content: "";
    position: absolute;
    inset: 0;
    background:
        radial-gradient(circle at calc(var(--x) * 1px) calc(var(--y) * 1px), #0068fd, transparent 15vmin);
    background-attachment: fixed;
    opacity: var(--active, 0);
    transition: opacity 0.2s;
    pointer-events: none;

}
/* Spot Light Section End Here */

/* Unlock the potential Sction End Here */